
@{
    ViewBag.Title = "Subjects";
}



<div class="container body-content" ng-controller="subjectsCtrl">
    <div class="alert alert-danger" ng-if="errors.global"><button type="button" class="close" data-dismiss="alert">&times;</button>{{errors.global}}</div>
    <table st-table="displayedCollection" st-safe-src="subjectsCollection" class="table table-bordered table-hover" style="cursor:pointer;">
        <caption class="smartTableCaption">
            Subjects
        </caption>

        <thead>
            <tr>
                <th>
                    <button type="button" data-toggle="modal" data-target="#pop-modal" class="btn btn-sm btn-primary">
                        Add
                    </button>
                </th>
                <th>Subject ID</th>
                <th>Title</th>
                <th>Teacher</th>
                <th># Students Enrolled</th>
                <th></th>
            </tr>


        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td style="white-space: nowrap">
                    <!-- form -->
                    <form oncancel="cancelEdit()" onbeforesave="editSubject($data, row)" editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == row">
                        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary btn-sm">
                            Save
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel();" class="btn btn-default btn-sm">
                            Cancel
                        </button>
                    </form>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-primary btn-sm" ng-click="rowform.$show()">Edit</button>
                        <button class="btn btn-primary btn-sm" ng-click="removeSubject(row.SubjectId)">Delete</button>
                    </div>
                </td>
                <td>{{row.SubjectId}}</td>
                <td><span editable-text="row.Title" e-name="Title" e-form="rowform" e-required>{{row.Title}}</span></td>
                <td><span e-class="custom-select" editable-select="row.Teacher.Id" e-name="TeacherId" e-form="rowform" e-required e-ng-options="teacher.Id as teacher.Name for teacher in teachersCourses.Teachers">{{selectTeacher(row.Teacher)}}</span></td>
                <td>{{row.NbStudents}}</td>
                <td>
                    <div class="details-el">
                        <button class="btn btn-primary btn-sm" ng-click="showDetails(row)">Details</button>
                    </div>
                </td>
            </tr>
            @*<tr ng-repeat-end>
                <td colspan="5" style="padding:0;">
                    <div id="student-details-{{row.Id}}-a" class="student-details">
                        <table class="table table-striped">
                            <tr>
                                <th>Subject</th>
                                <th>Grade</th>
                            </tr>
                            <tr ng-repeat="subject in row.Subjects">
                                <td>{{subject.Title}}</td>
                                <td>{{subject.Grade}}</td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>*@
            @*<tr>
                    <td colspan="14" class="text-center">
                        <div st-pagination="" st-items-by-page="10" st-displayed-pages="7"></div>
                    </td>
                </tr>*@

        </tbody>
    </table>
    <pop-modal title="{{modalTitle}}">
        <div ng-show="detailsShown">
            <table class="table table-striped">
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                </tr>
                <tr ng-repeat="student in studentDetails">
                    <td>{{student.Name}}</td>
                    <td>{{student.Grade}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="!detailsShown">
            <form ng-submit="addSubject($event)">
                <div class="form-group">
                    <label for="SubjectId">SubjectId:</label>
                    <input type="number" ng-model="subject.subjectId" required class="form-control" placeholder="Enter SubjectId" id="subjectId">
                    <p class="invalid-feedback d-block" ng-if="errors.subjectId">{{errors.subjectId}}</p>
                </div>
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text" ng-model="subject.title" required class="form-control" placeholder="Enter title" id="title">
                    <p class="invalid-feedback d-block" ng-if="errors.title">{{errors.title}}</p>
                </div>
                <div class="form-group">
                    <label for="Course">Link Course: </label>
                    <select class="custom-select" ng-model="subject.courseId" ng-options="course.CourseId as course.Title for course in teachersCourses.Courses">
                    </select>
                    <p class="invalid-feedback d-block" ng-if="errors.courseId">{{errors.courseId}}</p>
                </div>
                <div class="form-group">
                    <label for="Teacher">Link Teacher: </label>
                    <select class="custom-select" ng-model="subject.teacherId" ng-options="teacher.Id as teacher.Name for teacher in teachersCourses.Teachers">
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
        </div>
    </pop-modal>
</div>

<script>
    app.controller('subjectsCtrl', ['$scope', '$http', '$q', '$compile', subjectsController]);
</script>

