@{
    ViewBag.Title = "Home Page";
}



<div class="container body-content" ng-controller="studentCtrl">
    This is the home body
</div>

<script>
    app.controller('studentCtrl', ['$scope','$http', studentController]);
</script>

