
@{
    ViewBag.Title = "Index";
}



<div class="container body-content" ng-controller="studentCtrl">
    
</div>

<script>
    app.controller('studentCtrl', ['$scope','$http', studentController]);
</script>

